nav {
    width: 960px;
    margin: 0 auto;
}

nav:before {
    content: '';
    display: block;
    height: 50px;
    width: 100%;
    background-color: #00008B;
    position: absolute;
    left: 0;
    z-index: -1;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 50px;
}

ul li {
    float: left;
}

ul li a {
    color: #fff;
    display: block;
    height: 50px;
    padding: 0 30px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
}

ul li a:hover {
    background: #d34d43;
}
