.base {
background-color: #008080;
text-color: #FFFFE0;
}

.m {
font-family: "courier";
background-color: #008080;
text-color: #FFFFE0;
}

h1{
font-size: 54px;
font-family: "courier";
text-align: center;
