
h1{
font-size: 54px;
font-family: "courier";
text-align: center
}

h5 {
font-size: 15px;
font-family: "courier";
text-align: center
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
