h1{
    font-size: 54px;
    font-family: "courier";
    text-align: center
}

h5 {
    font-size: 20px;
    text-align: center
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.header_fixed {
    position: fixed;
    top: 0;
    left: 0;
    animation-name: show_header;
    animation-duration: 1s;
}

@keyframes show_header {
    0% {
        opacity: 0;
        top: -70px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}
