body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    display: block;
    padding: 0 20px;
    color: #fff;
    font-size: 25px;
    font-family: san-serif;
    text-transform: uppercase;
}

li a {
    text-decoration: none;
    color: dark-blue;
}

ul:hover li a:hover {
    font-size: 30px;
    background-color: #ede739;
}
