{% extends "waterbalance.html" %}

{% block content %}
<body>
<h3>Название</h3>
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <input type="str" class="form-control" id="name" name="name">
            <h3>Сложность</h3><select type="int" class="form-control" id="hard" name="hard">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <h3>Совет</h3>
            <textarea class="form-control w-100 h-10" id="recipe" rows="10" name="recipe"></textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h5>Загрузите фотографию</h5>
            <input type="file" class="form-control-file" id="photo" name="file">
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </div>
</form>
</body>
{% endblock %}