{% extends "waterbalance.html" %}

{% block content %}
<body>
<center><h3>Название</h3></center>>
<form method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <center><input type="str" class="form-control" id="name" name="name"></center>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <center><h3>Совет</h3></center>>
            <center><textarea class="form-control w-100 h-10" id="advice" rows="10" name="advice"></textarea></center>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <center><h5>Загрузите фотографию</h5></center>
            <center><input type="file" class="form-control-file" id="photo" name="file"></center>
        </div>
    </div>
    <div>
        <center><button type="submit" class="btn btn-primary">Добавить</button></center>
    </div>
</form>
</body>
{% endblock %}