{% extends "waterbalance.html" %}

{% block content %}
{% if "user_name" in session %}
<!--    <p style="background: #fff; border: 3px solid #fff; border-radius: 10px;">-->
<!--        <img class="card-img-top" src="/static/img/profile_pic.png" alt="Фото профиля." style="border-radius: 25%; width: 65px; height: 65px" align="bottom">-->
<!--        {{session["user_name"]}}-->
<!--    </p>-->

    <a class="btn btn-dark" href="/logout">Выйти</a><br><br>
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
             <div class="card-header"><img class="card-img-top" src="/static/img/profile_pic.png" alt="Фото профиля." style="border-radius: 25%; width: 50px; height: 50px" align="bottom">
            {{session["user_name"]}}</div>
        </div>
    {% if write %}
    <a class="btn btn-success" href="/add_advice">Добавить совет</a>
    {% endif %}
{% else %}
        <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
             <div class="card-header">Войдите в свой аккаунт</div>
        </div>
    <a class="btn btn-warning" href="/login">Войти</a>
{% endif %}
<div class="row">
    <br><br><br>
</div>
{% for item in advices %}

<div class="row">
    <div class="col-md-4">
        <br>
        <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
          <div class="card-header">Совет</div>
          <div class="card-body">
            <h5 class="card-title">{{item[1]}}</h5>
            <p class="card-text">{{item[2]}}
            <img width="200" height="100" class="img-thumbnail img-fluid" src="{{item[3]}}" alt=""></p>
          </div>
        </div>
        {% if execute %}
            <a class="btn btn-danger" href="/delete_advice/{{item[0]}}">Удалить совет</a>
        {% endif %}
    </div>
    <div class="col-md-4">
        <img width="3000" height="1500" class="img-thumbnail img-fluid" src="{{item[3]}}" alt="">
    </div>
    <div class="col-md-1">
    </div>
            <div class="card" style="width: 18rem; align: right;">
              <img class="card-img-top" src="/static/img/a.png" alt="Здесь могла быть ваша реклама.">
              <div class="card-body">
                <p class="card-text">Здесь могла быть ваша реклама.</p>
              </div>
            </div>
</div>
<div class="row">
    <br><br><br>
</div>

{% endfor %}

{% endblock %}