<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="static/css/style.css" />
    <title>RE:SERVICES</title>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">RE:SERVICES</a>
    </nav>
</header>
<!-- Begin page content -->
<main role="main" class="container">
    {% block content %}

    <div class="widget">
  <h3 class="widget-title">Категории</h3>
  <ul class="widget-list">
    <li><a href="">Дизайн</a></li>
  </ul>
    </div>

    <div class="form-group">
    <label for="classSelect">Укажите напиток</label>
    <select class="form-control" id="classSelect" name="class">
        <option>вода</option>
        <option>минеральная вода</option>
        <option>чай</option>
        <option>черный кофе</option>
        <option>сладкая газированная вода</option>
        <option>сок</option>
        <option>крепкий алкоголь</option>
        <option>молоко</option>
    </select>
</div>
<div class="form-group">
    <label for="form-check">Укажите объем</label>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
        <label class="form-check-label" for="male">
             0мл
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sex" id="female" value="female">
        <label class="form-check-label" for="female">
            50мл
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
        <label class="form-check-label" for="male">
            100мл
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
        <label class="form-check-label" for="male">
            150мл
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
        <label class="form-check-label" for="male">
            200мл
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
        <label class="form-check-label" for="male">
            250мл
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
        <label class="form-check-label" for="male">
            300мл
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
        <label class="form-check-label" for="male">
            350мл
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
        <label class="form-check-label" for="male">
            400мл
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
        <label class="form-check-label" for="male">
            450мл
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
        <label class="form-check-label" for="male">
            500мл
        </label>
    </div>
</div>
    {% endblock %}
</main>
<footer class="p-3 mb-2 bg-info text-white"r>
    <h4>Авторы:</h4>
<ul>
    <li>Родионов Денис</li>
    <li>Евсеев Григорий</li>
</ul>
</footer>
</body>
</html>