{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_page.css') }}">
</head>
<body class="p-3 mb-2 bg-info text-white"></br>
<h1 class="firstlabel">Our services</h1>
<form></br></br>
    <button type="button" class="btn btn-light container">
        <a href="/water">Waterbalance</a>
    </button></br></br>
    <button type="button" class="btn btn-light container">
        <a href="">Places</a>
    </button></br></br>
    <button type="button" class="btn btn-light container">
        <a href="">Weather</a>
    </button>
</form>
</body>
{% endblock %}
