{% extends "base.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home_page.css') }}">
</head>
<body class="p-3 mb-2 bg-info text-white">
<h1>Waterbalance</h1>
<form>
    <button type="button" class="btn btn-light">
        <a href="http://127.0.0.1:5000/login">Войти</a>
    </button>
    <h5>или</h5>
    <button type="button" class="btn btn-light">
        <a href="http://127.0.0.1:5000/register">Зарегистрироваться</a>
    </button>
</form>
</body>
{% endblock %}
