{% extends "waterbalance.html" %}

{% block content %}
    <h2>RE:SERVICES</h2>
    <p>
    RE:SERVICES  - это проект под авторством учеников второго года ЯндексЛицея
    </p>
    <div>Родионова Дениса</div>
    и
    <div>Евсеева Григория</div>
    <h3>Почему такое название?</h3>
    <h5>Причина 1.</h5>
    <p>
    Очевидно, что буквы R и E совпадают с началом фамилий авторов проекта.
    </p>
    <h5>Причина 2.</h5>
    <p>
    RE часто используется для обазначения чего-то цикличного или перерождения.
    А так как большая часть сервисов направлена на поддержвние здоровья  и ухода
    за своим телом, то получается некое "перерождение в здоровом теле".
    </p>
    <h3>Какая у проекта цель?</h3>
    <p>
    Его целью было создание Веб-сайта с различными услугами, а именно:
    </p>
    <h3>Waterbalance</h3>
    <p>Сервис для отслежки уровня воды в своем теле.</p>
    <h3>Places</h3>
    <p>Сервис с подборками интересных мест Вашего города для интересных прогулок.</p>
    <h3>Weather</h3>
    <p>Сервис с прогнозом погоды.</p>
{% endblock %}