{% extends "b_1.html" %}

{% block content %}
    </br>
    <center>
        <div class="content_1"><h1>О проекте RE:SERVICES</h1></div></div>
    <p>
    RE:SERVICES  - это проект под авторством учеников второго года ЯндексЛицея
    </p>
    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Люблю макароны">
      Родионова Дениса
    </button>
    и
    <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Евсеев Григорий, 15 лет. нёllоヾ(´∇｀○)">
        Евсеева Григория
    </button>
    <div class="card border-dark mb-3" style="max-width: 36rem;">
      <div class="card-header">Почему такое название?</div>
      <div class="card-body text-dark">
        <div class="card-group">
           <div class="card text-white bg-dark mb-3 border-light" style="max-width: 18rem;">
                <div class="card-header border-light">Причина 1.</div>
                <div class="card-body">
                    <p class="card-text">Очевидно, что буквы R и E совпадают с началом фамилий авторов проекта.</p>
                </div>
            </div>
           <div class="card text-white bg-dark mb-3 border-light" style="max-width: 18rem;">
                <div class="card-header border-light">Причина 2.</div>
                <div class="card-body">
                    <p class="card-text">RE часто используется для обазначения чего-то цикличного или перерождения.
            А так как большая часть сервисов направлена на поддержвние здоровья  и ухода
            за своим телом, то получается некое "перерождение в здоровом теле".</p>
                </div>
            </div>
        </div>
      </div>
    </div>

    <div class="card border-dark mb-3" style="max-width: 54rem;">
      <div class="card-header">Какая у проекта цель?</div>
      <div class="card-body text-dark">
          <p>
            Его целью было создание Веб-сайта с различными услугами, а именно:
          </p>
          <div class="card-group">
        <div class="card text-white bg-dark mb-3 border-light" style="max-width: 18rem;">
                <div class="card-header border-light">Waterbalance</div>
                <div class="card-body">
                    <p class="card-text">Сервис для отслежки уровня воды в Вашем теле.</p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3 border-light" style="max-width: 18rem;">
                <div class="card-header border-light">Weather</div>
                <div class="card-body">
                    <p class="card-text">Сервис, с помощью которого вы можете узнать самую актуальную информацию о погоде в выбранном Вами городе.</p>
                </div>
            </div>
            <div class="card text-white bg-dark mb-3 border-light" style="max-width: 18rem;">
                <div class="card-header border-light">Advices</div>
                <div class="card-body">
                    <p class="card-text">Экспериментальный сервис, который поможет Вам узнать много новых и интересных фактов.</p>
                </div>
            </div>
        </div>
      </div>
    </div>
        <div class="content_1" style="background: #D3D3D3;">
            <p>
            Все права пользователей защищены положениями Федерального закона РФ от 27.07.2006 № 152-ФЗ «О персональных данных».
            </p>
        </div>
    </center>
{% endblock %}