{% extends "b_1.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/water.css') }}">
</head>
<body>
<form method="post" enctype="multipart/form-data">
    <center><div class="content_1"><h1>Waterbalance</h1></div></center>
    <br>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
        aria-valuenow="75" aria-valuemin="0+-+-" aria-valuemax="100" style="width: {{percent}}"></div>
    </div>
    <center>
        <br><br>
    <form>
        <div class="card text-white bg-secondary mb-3" style="max-width: 36rem;">
          <div class="card-header bg-transparent text-white bg-secondary">
              <div class="form-row align-items-center">
            <div class="col-auto my-1">
                <h5 class="mr-sm-2" for="inlineFormCustomSelect">Укажите напиток</h5>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="drink">
                    <option selected>Напиток...</option>
                    <option value="1">Вода</option>
                    <option value="2">Минеральная вода</option>
                    <option value="3">Чай</option>
                    <option value="4">Черный кофе</option>
                    <option value="5">Сладкая газированная вода</option>
                    <option value="6">Сок</option>
                    <option value="7">Крепкий алкоголь</option>
                    <option value="8">Молоко</option>
                </select>
            </div>
        </div>
          </div>
          <div class="card-body text-white bg-secondary">
            <h5 class="card-title">Укажите объем</h5>
            <div class="slider-wrapper" >
            <input type="range" min="50" max="500" step="50" value="50" list="list" name="size">
            <datalist id="list">
                <option value="50" label="50 мл">
                <option value="100">
                <option value="150">
                <option value="200">
                <option value="250" label="250 мл">
                <option value="300">
                <option value="350">
                <option value="400">
                <option value="450">
                <option value="500" label="500 мл">
            </datalist>
            </div>
          </div>
          <div class="card-footer btext-white bg-secondary">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Добавить</button>
          </div>
        </div>
    </form>
    </center>
    {{message}}
</form>
</body>
{% endblock %}