<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="bootstrap.bundle.min.js / bootstrap.bundle.js">
<!--    <link rel="stylesheet" type="text/css" href="static/css/style.css" />-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/first.css') }}">
<!--    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">-->
    <title>RE:SERVICES</title>
</head>
<body>
    <header>
        <a class="navbar bg-light navbar-brand" href="/some_note">RE:SERVICES</a>
        <nav>
            <ul>
                <li><a href="/waterbalance">Waterbalance</a></li>
                <li><a href="/places">Places</a></li>
                <li><a href="/weather">Weather</a></li>
                <li><a href="/advices">Advices</a></li>
            </ul>
        </nav>
    </header>
<main role="main">
    {% block content %}
    <h2>Waterbalance</h2>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
        aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
    </div>
    <form>
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
                <label class="mr-sm-2" for="inlineFormCustomSelect">Укажите напиток</label>
                <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                    <option selected>Напиток...</option>
                    <option value="1">Вода</option>
                    <option value="2">Минеральная вода</option>
                    <option value="3">Чай</option>
                    <option value="4">Черный кофе</option>
                    <option value="5">Сладкая газированная вода</option>
                    <option value="6">Сок</option>
                    <option value="7">Крепкий алкоголь</option>
                    <option value="8">Молоко</option>
                </select>
            </div>
        </div>
    <div class="form-group">
        <label for="form-check">Укажите объем</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sex" id="female" value="female">
            <label class="form-check-label" for="female">
                50мл
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
            <label class="form-check-label" for="male">
                100мл
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
            <label class="form-check-label" for="male">
                150мл
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
            <label class="form-check-label" for="male">
                200мл
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
            <label class="form-check-label" for="male">
                250мл
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
            <label class="form-check-label" for="male">
                300мл
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
            <label class="form-check-label" for="male">
                350мл
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
            <label class="form-check-label" for="male">
                400мл
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
            <label class="form-check-label" for="male">
                450мл
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="sex" id="male" value="male" checked>
            <label class="form-check-label" for="male">
                500мл
            </label>
        </div>
    </div>
        <button type="button" class="btn btn-primary btn-lg">Добавить</button>
    </form>
    {% endblock %}
</main>
</body>
</html>