{% extends "b_1.html" %}

{% block content %}
    </br>
    <center><div class="content_1"><h1>Weather</h1></div></center>
<a class="btn btn-success" href="/add_city">Добавить город</a>

<!--    <form method="POST">-->
<!--            <input class="form-control" type="text" placeholder="Название города" name="city_name">-->
<!--            <center><button type="submit" class="btn btn-primary">Получить прогноз погоды</button></center>-->
<!--    </form>-->

<!--    <form action="{{ url_for('weather') }}" method="post">-->
<!--        <input class="form-control" type="text" name="projectFilepath" id="city" placeholder="Название города">-->
<!--        <center><button type="submit" class="btn btn-primary">Получить прогноз погоды</button></center>-->
<!--    </form>-->
    {% for weather in weather_data %}

    <center>
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">
              <figure class="image is-50x50">
                  <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="WeatherImage">
              </figure>
              {{ weather.city }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ weather.temperature }}° C</h5>
            <p class="card-text">{{ weather.description }}</p>
          </div>
        </div>
    </center>

    {% endfor %}
{% endblock %}
